<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <header>
            <h1>Evan Pollack</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Education</a></li>    
                    <li><a href="#">Experience</a></li>
                    <li><a href="#">Projects</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <article>
                <h1>Article</h1>
            </article>
            
            <aside>
                <h2>Aside</h2>
            </aside>
        </main>
    </body>
</html>