<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <header>
            <h1>Evan Pollack</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>    
                    <li><a href="#">Experience</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Projects</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <article>
                <h1>Article</h1>
            </article>
            
            <aside>
                <h2>Aside</h2>
                <h3>Recent Projects</h3>
                <ol>
                    <!--List of recent projects-->
                </ol>
            </aside>
        </main>
        <footer>
            <li><a href="https://www.linkedin.com/in/evan-pollack-b79626182/">LinkedIn</a></li>
            <li><a href="https://github.com/evanmpollack">Github</a></li>
        </footer>
    </body>
</html>